.form-header{
    @apply .text-grey .text-2xl .text-center
}
.form-group{
    @apply .flex .flex-col .w-full
}
.form-label{
    @apply .uppercase .font-semibold .text-sm .text-grey .py-1
}
.form-control{
    @apply .p-2 .bg-grey-lighter .rounded
}
.form-control-error{
    @apply .border-solid .border-red-dark .border-b-2 .rounded-b-none
}
.form-message{
    @apply .uppercase .font-semibold .text-xs .py-2 .text-center
}
.error{
    @apply .text-red-dark
}
.checkbox{
    @apply .py-2 .uppercase .font-semibold .text-sm
}
.btn{
    @apply .rounded .py-2 .px-4 .font-semibold .uppercase .w-full .mb-2 .no-underline .text-sm .text-center
}
.btn-blue{
    @apply .bg-blue .text-white
}
.btn-blue:hover{
    @apply .bg-blue-dark
}
.btn-red{
    @apply .bg-red .text-white
}
.btn-red:hover{
    @apply .bg-red-dark
}
.btn-grey-lightest{
    @apply .bg-grey-lightest .text-grey-darkest
}
.stat-box{
    @apply .text-center .text-3xl .text-grey;
}
.currency-box{
    @apply .w-18 .h-8 .text-center .text-xl .text-grey .bg-transparent;
}
.stat-box:focus{
    outline: none;
}
.currency-box:focus{
    outline: none;
}
.character-label{
    @apply .uppercase .font-semibold .text-xs .text-grey .py-1 .text-center
}
.stat-sub-label{
    @apply .text-grey-lighter .font-hairline;
}
.small-input{
    @apply .w-10 .h-4 .text-center;
}
.transparent-input{
    @apply .bg-transparent .rounded-none .text-grey;
    border-bottom: solid 1px #b8c2cc;
}
.transparent-input:focus{
    outline: none;
}

$fontSize: 1rem;
$lineWidth: 0.1rem;
$lineColor: #CCC;
$backgroundColor: transparent;
$xPadding: .5rem;
.lined{
    max-width: 100%;
    font-size: $fontSize;
    border: none;
    background-attachment: local;
    background-image:
    linear-gradient(to right, $backgroundColor, $backgroundColor $xPadding, transparent $xPadding),
    linear-gradient(to left, $backgroundColor, $backgroundColor $xPadding, transparent $xPadding),
    repeating-linear-gradient(
    $backgroundColor,
    $backgroundColor $fontSize*2-$lineWidth,
    $lineColor $fontSize*2-$lineWidth,
    $lineColor $fontSize*2
    );
    line-height: $fontSize*2;
    padding: $fontSize/3 $xPadding;
    resize: none;
}
