body{
    overflow:hidden;
    background-image: url('/storage/images/background.PNG');
}
.container{
    @apply .flex-1 .-mb-2 .-mt-2 .relative .flex;
}
.tray{
    @apply .absolute .black-transparent .pin-t .pin-r .pin-l .pin-b .p-2;
    z-index: 9000;
}
.black-transparent{
    background: rgb(0,0,0);
    background: rgba(0,0,0, 0.75);
}
.wooden{
    background-image: url('/storage/images/bar_background.png');
}
.leather{
  background-image: url('/storage/images/modal_background.png');
}
.stone{
  background-image:url('/storage/images/panel_background.png');
}
.left-tray-enter-active, .left-tray-leave-active{
  transition: all .3s;
}
.left-tray-enter, .left-tray-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(-100vw);
}

.right-tray-enter-active, .right-tray-leave-active{
  transition: all .3s;
}
.right-tray-enter, .right-tray-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(100vw);
}

.bottom-tray-enter-active, .bottom-tray-leave-active{
  transition: all .3s;
}
.bottom-tray-enter, .bottom-tray-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateY(100%);
}

.top-tray-enter-active, .top-tray-leave-active{
  transition: all .3s;
}
.top-tray-enter, .top-tray-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateY(-100%);
}

.burger-close .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
.burger-close .bar2 {opacity: 0;}
.burger-close .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
