.navbar-body{
    @apply .flex .h-12 .wooden .items-center .justify-between .px-2;
    z-index:1000;
}
.bar1, .bar2, .bar3 {
    @apply .bg-grey-light;
    width: 35px;
    height: 5px;
    margin: 6px 0;
    transition: 0.4s;
}
.navbar-start{
    position: absolute;
    top: -2px;
    left: -60px;
    height: 100px;
}
.navbar-end{
    position:absolute;
    top: -2px;
    right: -60px;
    height: 100px;
}
.navbar-brand{
    @apply .font-medium .text-2xl .no-underline .text-grey-light .uppercase;
}
.navbar-link{
    @apply .no-underline .text-grey-light .py-1 .text-lg;
}
.navbar-border{
    height: 25px;
    background-image:url('/storage/images/bar_border.png');
    z-index: 9900;
}
@screen md{
    .navbar{
        @apply .flex-row .justify-between
    }
    .tapered-down{
        clip-path: polygon(0% 0%, 1% 100%, 99% 100%, 100% 0%);
    }
    .tapered-up{
        clip-path: polygon(0% 100%, 100% 100%, 98% 0%, 2% 0%)
    }
}
